{{template "head"}}
 <nav class="navbar navbar-expand{-sm|-md|-lg|-xl|-xxl}">
     <div class="container-fluid">
         <div class="navbar-nav">
             <a class="nav-link" href="/">Home</a>
             <a class="nav-link" href="/About">About</a>
             <a class="nav-link" href="/signin">signin</a>
             <a class="nav-link" href="/signout">signout</a>
         </div>
     </div>

 </nav>
<h1 class="container">{{.Name}}</h1>
{{template "footer"}}



